<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../aba-js-imports/postaljs-import.html">
<link rel="import" href="abas-config.html">
<dom-module id="abas-config-meta">
    <script>
        class AbasConfigMeta extends Polymer.Element {
            static get is() { return 'abas-config-meta'; }
            static get properties() {
                return {
                    data: {
                        type: Object,
                        notify: true
                    },
                    _subscription: {
                        type: Object,
                        value: () => {
                            return {} // make sure that polymer is not sharing this object accross component instances
                        }
                    }
                };
            }

            _incomingConfiguration(configurationData, envelope) {
                this.set('data', configurationData)
                this._legacyFireEvent(configurationData)
            }

            connectedCallback() {
                super.connectedCallback();
                this._subscription = postal.subscribe({
                    channel: AbasConfig.channel,
                    topic: AbasConfig.topic.configuration,
                    callback: this._incomingConfiguration.bind(this)
                }).enlistPreserved()
            }

            disconnectedCallback() {
                super.disconnectedCallback()
                this._subscription.unsubscribe()
            }

            /**
             * @deprecated
             * Registering on config-loaded is deprecated and should no longer be used.
             * Subscribe to the message bus instead
             */
            _legacyFireEvent (data) {
                this.dispatchEvent(new Event("config-loaded", { detail: data }));
            }

        }

        window.customElements.define(AbasConfigMeta.is, AbasConfigMeta);
    </script>
</dom-module>