<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../aba-js-imports/postaljs-import.html">

<dom-module id="abas-config">

    <script>
        class AbasConfig extends Polymer.Element {

            static get is() {
                return 'abas-config';
            }

            static get channel() {
                return `${AbasConfig.is}.channel`
            }

            static get topic() {
                return {
                    configuration: 'configuration'
                }
            }

            static get properties() {
                return {
                    path: {
                        type: String,
                        value: "/configuration.json"
                    },
                    data: {
                        type: Object,
                        notify: true
                    }
                };
            }

            connectedCallback() {
                this._fetchConfiguration()

                    .then(this._publishConfiguration.bind(this))
                    .catch(this._logError.bind(this))
            }

            _fetchConfiguration() {
                if (!this.data) {
                    return fetch(this.path, {
                        method: 'GET'
                    }).then(response => {
                        if (response.ok) {
                            return response.json()
                        }
                        throw new Error(JSON.stringify({ status: response.status, text: response.statusText, url: response.url }))
                    }).then(data => {
                        this.set('data', data)
                    })
                } else {
                    return new Promise(resolve => {
                        resolve(this.data);
                    })
                }
            }

            _publishConfiguration() {
                this.data.meta.tenant = window.location.hostname.split(".")[0];
                postal.publish({
                    channel: AbasConfig.channel,
                    topic: AbasConfig.topic.configuration,
                    data: this.data,
                    headers: {
                        preserve: true
                    }
                })
                this._legacyFireEvent()
            }

            _logError(error) {
                postal.publish({
                    channel: 'ERROR.LOG',
                    topic: AbasConfig.channel,
                    data: error.message
                })
            }

            /**
             * @deprecated
             * Registering on config-loaded is deprecated and should no longer be used.
             * Subscribe to the message bus instead
             */
            _legacyFireEvent() {
                var loadedEvent = new CustomEvent('config-loaded', {});
                this.dispatchEvent(loadedEvent);
                window.dispatchEvent(loadedEvent);
            }

        }

        window.customElements.define(AbasConfig.is, AbasConfig);
    </script>
</dom-module>