<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>abas-config demo</title>

    <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../abas-config.html">
    <link rel="import" href="../abas-config-meta.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic abas-config demo</h3>
      <demo-snippet>
        <template>
          <abas-config></abas-config>
          <abas-config-meta data="{{data}}"></abas-config-meta>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
